<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Multimedia</name>

    <description>
        Sekilas Multimedia 
    </description>

    <author href="http://wahyupur.wordpress.com" email="wahyupur@yahoo.com">
        Wahyu Purnomo 
    </author>
    <!-- We'll include the Media plugin as an example -->
   <gap:plugin name="org.apache.cordova.media" />
   


</widget>
